.Rproj.user/*
.Rhistory
.RData
.Ruserdata
.Rproj.user
*archive.Rmd
node_modules/
data/
output/
figures/
dist/
*.class
*.py[cod]
*.log
.idea/
.DS_Store
*.app
*.exe
*.war
*.mp4
*.tiff
*.xml
*.avi
*.flv
*.mov
*.wmv
*.txt
*.html
.ipynb_checkpoints
